<div class="container-fluid">
  <h2 class="text-center", style="color:#3B8DD4">
    Want to learn more about gamification and excelling as a superhero? Below are resources to get your epic quest started!
  </h2>
  <h3 style="margin-bottom:25px;"><u>Resources</u></h3>
  <ul style="list-style:none">
    <li><h4>Nerd Fitness:<small> A fitness website for nerds and average Joes. Helping you lose weight, get stronger, live better.</small></h4></li>
    <ul>
      <li><%= link_to "Nerd Fitness", "http://www.nerdfitness.com/", :target => '_blank' %></li>
      <li><%= link_to "The Rebellion - online support community", "http://rebellion.nerdfitness.com/", :target => '_blank' %></li>
      <li><%= link_to "10 Ways to Gamify Your Life Today", "http://www.nerdfitness.com/blog/2012/08/26/gameify-your-life/", :target => '_blank' %></li>
      <li><%= link_to "Life is a Game", "http://www.nerdfitness.com/blog/2014/10/20/my-life-is-a-game-a-major-epic-quest-update-plus-a-request/", :target => '_blank' %></li>
      <li><%= link_to "Real-Life Role Playing", "http://www.nerdfitness.com/blog/2010/05/10/real-life-role-playing-what-is-your-profession/", :target => '_blank' %></li>
    </ul>
    <li><h4>My Epic Life:<small> A self-improvement site for aspiring superheroes.</small></h4></li>
    <ul>
      <li><%= link_to "My Epic Life", "http://www.myepiclife.net/", :target => '_blank' %></li>
      <li><%= link_to "Manifesto", "http://www.myepiclife.net/the-epic-life-manifesto/", :target => '_blank' %></li>
      <li><%= link_to "Game Psychology", "http://www.myepiclife.net/category/game-psychology/", :target => '_blank' %></li>
    </ul>

  </ul>
</div>
